/* Add your custom CSS here */
body { font-family: 'Neucha', cursive }
.section-selector-1 > p { color: var(--indigo-800) }
.section-selector-2 { background-color: var(--rose-700) }
.section-selector-2 h2 { color: var(--pink-300) }
.section-selector-3 { background-color: var(--green-300) }
.section-selector-3 h2 { color: var(--lime-050) }
.section-selector-4 { background-color: var(--indigo-900) }
.section-selector-4 h2 { color: var(--purple-200) }
.section-selector-4 .col-text p { color: var(--indigo-200) }
.section-selector-5 { background-color: var(--yellow-300) }
.section-selector-5 h2 { color: var(--lime-600) }


header h1 { font-size: var(--font-size-xxxl) }
header h2 { font-size: var(--font-size-xxl) }

header h1, header h2 { letter-spacing: -1px }


.section-selector-1 p.bigger-desktop { font-size: var(--font-size-xl) }
.section-selector-1 p.bigger-mobile  { font-size: var(--font-size-lg) }

                        
.cols-2-half .col-2 h2 {
    font-size: var(--font-size-xxl);
}

.cols-2-half .col-2 p {
    font-size: var(--font-size-md);
}

.cols-2-half .col-2 h2,
.cols-2-half .col-2 p { letter-spacing: 1px }

